/* custom public html components */
// a:not(.button):not(.icon-button)
//   color: $oil
//   font-size: 14px
//   +transition(all 0.2s ease)
//   &:hover
//     color: $gray

/* global public class */
html body
  .action-area
    +flex(center, flex-start)
    flex-wrap: wrap
    &.wrap
      flex-wrap: wrap
    &.space-between
      justify-content: space-between
    &.align-right
      justify-content: flex-end
    &.stricked
      max-width: 800px
    .button
      margin-bottom: 0
      margin-right: 4px
      &:last-child
        margin: 0
    .underlined
      +flex
      height: 50px
      color: $gray
      text-decoration: underline
      font-weight: 500
      font-size: 16px
      &:hover
        +hover-action



