/* side navigation layout */
body.layout-template
  .sidenav
    position: fixed
    top: $header-height
    left: 0
    +calc(height, '100vh - #{$header-height}')
    width: $sidenav-width
    background-color: $white
    z-index: 25
    padding: $general-gutter 0
    +box-shadow(2px 0 10px -2px rgba(0,0,0,0.1))
    .sidenav-logo
      +flex
      height: $header-height
      padding: 0
      font-weight: bold
      font-size: 20px
      color: $oil
      margin-bottom: $general-gutter
    ul.accordion-menu
      li
        a
          +flex(center, flex-start)
          position: relative
          min-height: 30px
          padding: 4px $general-gutter/2 4px 40px
          font-size: 14px
          color: $oil
          &:hover
            background-color: $gray-lighter
          &:before
            content: ''
            +flex
            width: 14px
            height: 14px
            margin-right: 4px
            +transition(all 0.2s ease)
          .list-icon
            width: 16px
            +flex
            margin-right: 4px
            &:before
              +flex
            &.folder:before
              +fa_icon_pro('\f07b', $gray-light, 16px)
              font-weight: 900
              position: static
            &.file:before
              +fa_icon('\f15c', $gray-light, 16px)
              position: static
            > i
              font-size: 16px
              color: $gray-light
        &.is-accordion-submenu-parent > a
          &:before
            +fa_icon('\f0da', $gray-light, 14px)
            position: static
        &[aria-expanded="true"] > a
          &:before
            // content: '\f0dd'
            // margin-bottom: 7px
            +transform(rotate(90deg))
          > .list-icon.folder:before
            content: '\f07c'
        ul.is-accordion-submenu
          margin-left: 0
        > ul.is-accordion-submenu
          > li
            > a
              padding-left: 40px + 22px
            > ul.is-accordion-submenu
              > li
                > a
                  padding-left: 40px + 22px * 2

