%header
  .logo-area
    = image_tag("logo-on_white.png")
  .top-bar
    .top-bar-left
      %ul.breadcrumbs
        %li
          %a{:href => "#"} File System
        %li
          %a{:href => "#"} Core
        // %li.disabled Gene Splicing
        %li
          %span.show-for-sr Current:
          Mixings
