.sidenav
  %ul.vertical.menu.accordion-menu{"data-accordion-menu" => ""}
    %li
      %a
        .list-icon.folder
        File System
      %ul.menu.vertical.nested
        %li
          %a
            .list-icon.folder
            Preset
          %ul.menu.vertical.nested
            %li
              %a
                .list-icon.file
                Colors
            %li
              %a
                .list-icon.file
                Fonts
        %li
          %a
            .list-icon.folder
            Core
          %ul.menu.vertical.nested
            %li
              %a
                .list-icon.folder
                Mixins
              %ul.menu.vertical.nested
                %li
                  %a
                    .list-icon.file
                    Buttons
                %li
                  %a
                    .list-icon.file
                    Animation
                %li
                  %a
                    .list-icon.file
                    components
                %li
                  %a
                    .list-icon.file
                    Customize
                %li
                  %a
                    .list-icon.file
                    Type
            %li
              %a
                .list-icon.file
                Core
        %li
          %a
            .list-icon.file
            Style
        %li
          %a
            .list-icon.file
            Components
    %li
      %a
        .list-icon
          %i.fas.fa-book-spells
        UI Elements
      %ul.menu.vertical.nested
        %li
          %a
            .list-icon
              %i.far.fa-file-edit
            Form
        %li
          %a
            .list-icon
              %i.far.fa-table
            Table
        %li
          %a
            .list-icon
              %i.far.fa-window-restore
            Panel
        %li
          %a
            .list-icon
              %i.far.fa-hand-point-up
            Button
        %li
          %a
            .list-icon
              %i.fas.fa-tasks-alt
            Progress Bar
        %li
          %a
            .list-icon
              %i.far.fa-list-ol
            Pagination
        %li
          %a
            .list-icon
              %i.far.fa-bell
            Global Notice






