!!!
%html{:lang => "en"}
  %head
    = render 'layouts/head'

  %body{ class: "layout-template #{controller.controller_name}-#{controller.action_name}" }
    #offCanvas.off-canvas.position-right{"data-off-canvas": ""}
          = render 'sidenav'
        